:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 7%);
  --dark-gray-color: hsl(0, 0%, 55%);
  --very-dark-gray-color: hsl(0, 0%, 41%);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 15px;
  color: var(--dark-gray-color);
  font-family: "Alata", sans-serif;
}
/*header and nav*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 50px 0;
}

header img {
  padding-left: 100px;
}

nav {
  padding-right: 100px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li a {
  padding: 5px 20px;
  color: var(--white-color);
}

/*banner background and text*/
.hero {
  position: relative;
}
.hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
}
.heroText {
  width: 45%;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-45%);
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  font-family: "Josefin Sans", sans-serif;
}
.heroText h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  padding: 0 50px;
  font-weight: 100;
  letter-spacing: 2px;
}

.hero:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.377);
}

/*leader section and text*/

.leader {
  padding: 170px 100px;
  display: flex;
  transform: translate(4.75%, -1.25%);
  position: relative;
}
.leader img {
  height: auto;
  object-fit: contain;
}
.leaderText {
  background-color: #fff;
  padding: 80px;
  transform: translate(-38%, 37%);
}
.leaderText h2 {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: var(--black-color);
}

/*final cards and text*/

.creations {
  color: black;
  display: flex;
  font-size: 26px;
  margin: 6% 12%;
}

.creations h1 {
  font-weight: 30;
}

.creations button {
  width: 150px;
  height: 43px;
  margin-left: 46%;
  background: transparent;
  border: 2px var(--very-dark-gray-color) solid;
  transform: translateY(15px);
  font-size: 14px;
  font-family: "Alata", sans-serif;
  letter-spacing: 4px;
}

.creations button:hover {
  cursor: pointer;
}

.creationsBox {
  display: flex;
  flex-flow: column;
  transform: translate(12%);
}

.creationsBox .boxRow1 {
  display: flex;
  flex-flow: row;
}

.creationsBox .boxRow2 {
  display: flex;
  flex-flow: row;
}

#box {
  padding-right: 30px;
}

#box h2 {
  color: var(--white-color);
  font-size: 32px;
  transform: translateY(-122px);
  padding-left: 38px;
  width: 161px;
}

/*footer*/

.social .copyright {
  float: right;
}
