:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 7%);
  --dark-gray-color: hsl(0, 0%, 55%);
  --very-dark-gray-color: hsl(0, 0%, 41%);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 15px;
  color: var(--dark-gray-color);
  font-family: "Alata", sans-serif;
}
/*header and nav*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 50px 0;
}

header img {
  padding-left: 100px;
}

nav {
  padding-right: 100px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li a {
  padding: 5px 20px;
  color: var(--white-color);
}

/*banner background and text*/
.hero {
  position: relative;
}
.hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
}
.heroText {
  width: 45%;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-45%);
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  font-family: "Josefin Sans", sans-serif;
}
.heroText h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  padding: 0 50px;
  font-weight: 100;
  letter-spacing: 2px;
}

.hero:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.377);
}

/*leader section and text*/

.leader {
  padding: 170px 100px;
  display: flex;
  position: relative;
}
.leaderText {
  background-color: #fff;
  padding: 80px;
  position: absolute;
  top: 46%;
  right: 60px;
  width: 32%;
}
.leaderText h2 {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: var(--black-color);
}

/*final cards and text*/

.creations {
  color: black;
  display: flex;
  font-size: 26px;
  padding: 0 100px;
  justify-content: space-between;
}

.creations h1 {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: var(--black-color);
}

.creations button {
  width: 150px;
  height: 43px;
  border: 2px var(--very-dark-gray-color) solid;
  font-size: 14px;
  font-family: "Alata", sans-serif;
  letter-spacing: 4px;
}

.creations button:hover {
  cursor: pointer;
}

.boxRow {
  display: flex;
  flex-wrap: wrap; /*allows to wrap content to next line*/
  padding: 50px 85px;
  padding-bottom: 100px;
}

.box {
  width: 25%;
  position: relative;
  padding: 15px;
  box-sizing: border-box;
}
.overlay {
  position: relative;
}
.overlay:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
}
.box img {
  width: 100%;
  display: block;
}
img.mobile {
  display: none;
}

.box h2 {
  color: var(--white-color);
  font-size: 30px;
  padding: 0 0 40px 40px;
  width: 161px;
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*footer*/

.footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}

.footer .footerNav {
  padding-top: 20px;
}
.footer .footerNav ul {
  display: flex;
}

.footer .footerNav ul li a {
  padding-right: 30px;
}
.socialIcons {
  text-align: right;
}
.footer * {
  color: white;
}
.footer .leftSec img {
  height: 30px;
}
.footer .rightSec img {
  padding-right: 10px;
}
.footer .rightSec h4 {
  padding-top: 20px;
}
.hamMenu {
  display: none;
}
.mobileBtn {
  display: none;
}
@media screen and (max-width: 768px) {
  .hero img {
    display: none;
  }
  .hero img.mobile {
    display: block;
  }
  .hamMenu {
    display: block;
    position: absolute;
    top: 57px;
    right: 25px;
  }
  .closeMenu {
    display: none;
  }
  header img {
    padding-left: 25px;
  }
  nav {
    display: none;
    padding-right: 25px;
  }
  .heroText {
    width: auto;
    left: 0;
    margin: 25px;
  }
  .heroText h1 {
    font-size: 45px;
    padding: 0 20px;
  }
  .leader {
    padding: 50px 25px;
    display: block;
  }
  .leader img {
    width: 100%;
  }
  .leaderText {
    position: static;
    padding: 40px 0;
    text-align: center;
    width: auto;
  }
  .leaderText h2 {
    padding-bottom: 20px;
    font-size: 38px;
  }
  .leaderText p {
    line-height: 25px;
  }
  .creations {
    padding: 0 25px;
    display: block;
    text-align: center;
  }
  .creations button {
    display: none;
  }
  .boxRow {
    display: block;
    padding: 30px 25px;
    padding-bottom: 50px;
  }
  .boxRow .box {
    width: 100%;
    padding: 15px 0;
  }
  .box img {
    display: none;
  }
  .box .mobile {
    display: block;
  }
  .box h2 {
    padding: 0 0 20px 20px;
  }
  .mobileBtn {
    text-align: center;
    margin-top: 20px;
  }
  .mobileBtn button {
    width: 150px;
    height: 43px;
    border: 2px var(--very-dark-gray-color) solid;
    font-size: 14px;
    font-family: "Alata", sans-serif;
    letter-spacing: 4px;
    background: #fff;
  }
  .footer {
    display: block;
    padding: 50px 25px;
    text-align: center;
  }
  .footer .footerNav {
    padding-top: 20px;
  }
  .footer .footerNav ul {
    flex-direction: column;
  }
  .footer .footerNav ul li a {
    padding-bottom: 20px;
    padding-right: 0;
    display: inline-block;
  }
  .socialIcons {
    text-align: center;
    margin-top: 20px;
  }
}
@media screen and (max-width: 400px) {
  .heroText h1 {
    font-size: 38px;
  }
}
